<main>
  <header>
    <div>
      <mat-form-field>
        <mat-label>Item</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="value"
          (keyup.enter)="addItem()"
        />
        @if (value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          matTooltip="Limpar caixa de texto"
          (click)="value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
      <button
        mat-stroked-button
        disabled="{{ value === '' ? true : false }}"
        disabledInteractive
        matTooltip="{{
          value === ''
            ? 'Escreva algo na caixa de texto para adicionar à lista!'
            : 'Adicionar conteúdo à lista!'
        }}"
        (click)="addItem()"
      >
        Adicionar
      </button>
    </div>
  </header>
  <div>
    <mat-divider></mat-divider>
    <ul>
      <li *ngFor="let item of saida">
        {{ item }}
        <button
          matSuffix
          mat-icon-button
          aria-label="Remove"
          matTooltip="Remover item da lista"
          (click)="removeItem(item)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</main>

<router-outlet />
